<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Computing task scheduling</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Computing task scheduling</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Test</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="col-md-9 main-part" role="main">
        <div class="area">
          <h1 id="tasks">Tasks</h1>
          <p>
            task1 description
          </p>
          <p>
            task2 description
          </p>
          <p>
            task3 description
          </p>
          <p>
            task4 description
          </p>
          <p>
            task5 description
          </p>
        </div>
        <div class="area">
          <h1 id="resources">Computing Resources</h1>
          <p>
            resource description on Monday
          </p>
          <p>
            resource description on Tuesday
          </p>
          <p>
            resource description on Wednesday
          </p>
          <p>
            resource description on Thuesday
          </p>
          <p>
            resource description on Friday
          </p>
          <p>
            resource description on saturday
          </p>
          <p>
            resource description on Sunday
          </p>
        </div>
        <div class="area">
          <h1 id="limits">Limits</h1>
          <p>
            limit1 description
          </p>
          <p>
            limit2 description
          </p>
          <p>
            limit3 description
          </p>
          <p>
            limit4 description
          </p>
          <p>
            limit5 description
          </p>
        </div>
        <div class="area">
          <h1 id="schedule">Schedule</h1>
          <p>
            schedule description
          </p>
        </div>
      </div>



      <div class="col-md-3" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
          <ul class="nav bs-docs-sidenav">
            <li class="">
              <a href="#tasks">Tasks</a>
            </li>
            <li class="">
              <a href="#limits">Limits</a>
            </li>
            <li class="">
              <a href="#resources">Computing Resources</a>
            </li>
            <li class="">
              <a href="#schedule">Schedule</a>
            </li>
          </ul>
        </nav>
      </div>




    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
